.reply-window {
  width: 100%;
  height: 250rpx;
  background-color: #fff;
  position: relative;
  border-radius: 10rpx 10rpx 0 0;
  &-input {
    width: 90%;
    height: 120rpx;
    position: relative;
    top: 20rpx;
    left: 5%;
    right: 5%;
    font-family: SimHei;
    font-size: 30rpx;
    color: #170a1e;
    &-placeholder {
      font-family: SimHei;
      font-size: 30rpx;
      color: rgba(94, 80, 100, 0.5);
    }
  }
  &-btnbox {
    width: 100%;
    height: 50rpx;
    display: flex;
    justify-content: flex-end;
  }
  &-btn {
    width: 100rpx;
    height: 50rpx;
    position: absolute;
    border-radius: 50rpx;
    background-color: #d7ccf9;
    font-family: SimHei;
    font-size: 25rpx;
    color: #fff;
    text-align: center;
    line-height: 50rpx;
    margin-top: 25rpx;
    margin-right: 30rpx;
  }
  &-active {
    background-color: #9b8df2;
  }
}
