.userProfile-page {
  width: 100%;
  height: calc(100vh - 180rpx);
  font-family: SimHei;
  background-color: #f9f8fc;
  position: absolute;
  top: 180rpx;

  .userProfile-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f9f8fc;
    padding-top: 20rpx;
    margin-bottom: 20rpx;
  }

  .userProfile-desc {
    @extend .userProfile-user;
  }

  .userProfile-floor-btn {
    width: 80%;
    height: 112rpx;
    position: absolute;
    bottom: 40rpx;
    left: 50%;
    transform: translateX(-50%);
    background-color: #cf79fa;
    border-radius: 25rpx;
    line-height: 112rpx;
    text-align: center;
    color: #fffeff;
    font-size: 42rpx;
  }
}

.userProfile-container {
  width: 86%;
  height: 120rpx;
  background-color: #fff;
  border: {
    left: 2rpx solid #eff2fa;
    right: 2rpx solid #eff2fa;
    bottom: 3rpx solid #f1eefc;
  }
  position: relative;

  &-column {
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40rpx;
    color: #170a1e;
    font-size: 44rpx;
    line-height: 120rpx;
  }

  &-img {
    width: 44rpx;
    margin-right: 20rpx;
  }

  &-avatar {
    @extend .userProfile-container-column;
    left: 520rpx;
    color: #5e5064;
    font-size: 32rpx;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &-desc {
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50rpx;
    color: #5e5064;
    font-size: 32rpx;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 200rpx;
    &-placeholder {
      text-align: right;
      font-size: 32rpx;
      color: #5e5064;
      font-family: 'SimHei';
    }
  }
}

.userProfile-container-top {
  @extend .userProfile-container;
  border-radius: 10rpx 10rpx 0 0;
  border-top: 2rpx solid #eff2fa;
}

.userProfile-container-bottom {
  @extend .userProfile-container;
  border-radius: 0 0 10rpx 10rpx;
  border-bottom: 2rpx solid #eff2fa;
}

.userProfile-container-input {
  padding: 0 20rpx;
  padding-top: 20rpx;
  background-color: #fff;
  &:focus {
    outline: none;
  }
}
