.indexHome {
  width: 100%;
  height: calc(100vh - 180rpx);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f8fc;
  margin-top: 180rpx;

  .sticky-header {
    width: 100%;
    height: 40rpx;
    background-color: #fff;
    z-index: 2;
  }

  .sticky-item {
    position: absolute;
    top: 300rpx;
    left: 25rpx;
    width: 100%;
    overflow-x: hidden;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
