.mine-page {
  width: 100%;
  height: calc(100% - 180rpx);
  position: absolute;
  top: 180rpx;
  font-family: 'SimHei';
  // overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 20rpx;
  background-color: #f9f8fc;
  .mine-user {
    width: 100%;
    height: 35%;
    background: linear-gradient(125deg, #8053F6 0%, #B875E9 7%, #E5ACD4 42%, #B875E9 77%, #8053F6 100%);
    padding-bottom: 40rpx;
    &-content {
      padding-top: 20rpx;
      width: 100%;
      height: 300rpx;
      display: flex;
      align-items: center;
      .mine-user-avatar {
        width: 160rpx;
        height: 160rpx;
        border-radius: 50%;
        margin: 0 40rpx;
        background-color: #f9f8fc;
      }
      .mine-user-info {
        display: flex;
        flex-direction: column;
        color: #fff;
        .mine-user-name {
          font-size: 50rpx;
          margin-bottom: 20rpx;
        }
        .mine-user-school {
          font-size: 28rpx;
        }
      }
      .mine-user-arrowhead {
        position: absolute;
        width: 20rpx;
        right: 80rpx;
      }
    }
    &-check {
      margin-left: 40rpx;
      width: 90%;
      height: 130rpx;
      background-color: #fff;
      border-radius: 20rpx;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-info {
        color: #b36aeb;
        font-size: 44rpx;
        margin-left: 46rpx;
      }
      &-arrowhead {
        width: 20rpx;
        margin-right: 40rpx;
      }
    }
  }
  .mine-order {
    width: 100%;
    background-color: transparent;
    height: 60%;
    border-radius: 20rpx 20rpx 0 0;
    &-title {
      position: relative;
      top: -25rpx;
      z-index: 666;
      height: 200rpx;
      width: 100%;
      background-color: #fff;
      border-radius: 40rpx 40rpx 0 0;
      &-choice {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100rpx;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #828283;
        font-size: 44rpx;
        &-left {
          padding-left: 115rpx;
        }
        &-check {
          padding-right: 115rpx;
        }
        &-img {
          position: absolute;
          width: 36rpx;
          height: 36rpx;
          right: 30rpx;
          top: 34rpx;
        }
      }
      &-line {
        position: absolute;
        top: 100rpx;
        width: 100%;
        height: 0;
        border: 2rpx solid #f9f8fc;
      }
      &-index {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100rpx;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #828283;
        font-size: 36rpx;
        &-left {
          padding-left: 120rpx;
        }
        &-right {
          padding-right: 120rpx;
        }
      }
    }
  }
}

// 变量
.active-decoration {
  color: #4d4d4e;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -12rpx;
    width: 60rpx;
    height: 6rpx;
    background-color: #cf79fa;
    border-radius: 6rpx;
  }
}

.active-decoration-left {
  @extend.active-decoration;
  &::after {
    left: 125rpx;
  }
}
.active-decoration-right {
  @extend.active-decoration;
  &::after {
    left: 15rpx;
  }
}

.active-decoration-item {
  color: #4d4d4e;
}

.mine-content {
  position: relative;
  top:-23rpx;
}
