.picturecut {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  color: #fff;
}

.picturecut-header {
  position: relative;
  width: 100%;
  height: 150rpx;
  padding: 0 20rpx;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picturecut-title {
  font-size: 36rpx;
  font-weight: bold;
  text-align: center;
  margin-top: 100rpx;
}

.picturecut-content {
  position: relative;
  width: 100%;
  flex: 1;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}

.picturecut-crop-area {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  border: 1px solid #fff;
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.7);
  pointer-events: none;
}

.picturecut-crop-grid {
  width: 100%;
  height: 100%;
  position: relative;
}

.picturecut-grid-horizontal {
  position: absolute;
  width: 100%;
  height: 0;
  border-top: 1px dashed rgba(255, 255, 255, 0.6);
}

.picturecut-grid-top {
  top: 33.33%;
}

.picturecut-grid-bottom {
  top: 66.67%;
}

.picturecut-grid-vertical {
  position: absolute;
  width: 0;
  height: 100%;
  border-left: 1px dashed rgba(255, 255, 255, 0.6);
}

.picturecut-grid-left {
  left: 33.33%;
}

.picturecut-grid-right {
  left: 66.67%;
}

.picturecut-corner {
  position: absolute;
  width: 20rpx;
  height: 20rpx;
  border: 2px solid #fff;
  background-color: transparent;
}

.picturecut-corner-tl {
  top: -1px;
  left: -1px;
  border-right: none;
  border-bottom: none;
}

.picturecut-corner-tr {
  top: -1px;
  right: -1px;
  border-left: none;
  border-bottom: none;
}

.picturecut-corner-bl {
  bottom: -1px;
  left: -1px;
  border-right: none;
  border-top: none;
}

.picturecut-corner-br {
  bottom: -1px;
  right: -1px;
  border-left: none;
  border-top: none;
}

.picturecut-image-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  touch-action: none;
  cursor: move;
  will-change: transform;
  transform-origin: 0 0;
}

.picturecut-image {
  display: block;
  touch-action: none;
  will-change: transform;
}

.picturecut-controls {
  width: 100%;
  height: 120rpx;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 40rpx;
}

.picturecut-control-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rpx 20rpx;
  border-radius: 8rpx;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.2s;
}

.picturecut-control-btn:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.picturecut-icon {
  font-size: 48rpx;
  margin-bottom: 8rpx;
  line-height: 1;
}

.picturecut-control-text {
  font-size: 24rpx;
  color: rgba(255, 255, 255, 0.8);
}

.picturecut-footer {
  width: 100%;
  height: 150rpx;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20rpx;
  box-sizing: border-box;
}

.picturecut-buttons {
  display: flex;
  width: 100%;
  max-width: 600rpx;
  justify-content: space-between;
}

.picturecut-btn {
  padding: 20rpx 60rpx;
  border-radius: 8rpx;
  cursor: pointer;
  font-size: 32rpx;
  text-align: center;
  transition: opacity 0.2s;
  min-width: 100rpx;
}

.picturecut-btn:active {
  opacity: 0.8;
}

.picturecut-btn-cancel {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.picturecut-btn-confirm {
  background-color: #07c160;
  color: #fff;
}

.picturecut-canvas {
  position: absolute;
  display: none;
  left: -9999px;
  opacity: 0;
  z-index: -1;
}

.picturecut-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  font-size: 28rpx;
  color: rgba(255, 255, 255, 0.7);
}

.picturecut-touch-hint {
  position: absolute;
  bottom: 200rpx;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24rpx;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10rpx 20rpx;
  border-radius: 20rpx;
  z-index: 15;
}