.ReplyList {
  margin-top: 20rpx;
  padding-left: 80rpx;

  &-expand {
    margin-top: 20rpx;
    color: #5e5064;
    font-size: 24rpx;
    cursor: pointer;
    padding: 10rpx 0;
    display: flex;
    align-items: center;

    &-dash {
      color: #c8c5ca;
      margin-right: 8rpx;
    }
  }
}
