.rule-window {
  font-family: SimHei;

  &-content {
    display: flex;
    flex-direction: column;
    padding: 30rpx;
    max-height: 600rpx;
    color: #5e5064;
    flex: 1;
    overflow-y: auto;
    gap: 10rpx;
    line-height: 1.6;
    font-size: 28rpx;
  }
}
