.add-page {
  width: 100%;
  height: calc(100vh - 180rpx);
  background-color: #f9f8fc;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 180rpx;

  .add-main {
    width: 80%;
    text-align: center;
    justify-content: center;

    .add-pic {
      width: 80%;
    }

    .add-text {
      font-family: SimHei;
      font-size: 32rpx;
      letter-spacing: 0em;
      color: #170a1e;
    }
  }

  .add-begin {
    width: 80%;
    height: 400rpx;
    text-align: center;
    display: flex;
    gap: 15rpx;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .add-remind {
      width: 80%;
      height: 100rpx;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      // background: #000;
      .remind-pic {
        width: 30rpx;
        margin-right: 10rpx;
      }
      .remind-text {
        font-family: SimHei;
        font-size: 30rpx;
        color: #c378e3;
      }
    }
  }
}
